// main:..//style.less


.question {
    padding: 100px 0;

    .question__wrapper {
        width: 500px;
        margin: 0 auto;

        p {
            color: #6C6C6C;
            text-align: left;
            font-family: "MuseoSansLight";
        }

        
    }
}
.accordionBtn {
    color: @pink;
    border: none;
    background: transparent;
    cursor: pointer;
    padding: 18px;
    margin-bottom: 15px;
    font-size: 22px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: .4s;
    font-family: "MuseoSansBold";
}

.accPanel {
    display: none;
}

.accPanel.show {
    display: block;
}
@media screen and (max-width:425px) {
    .question {
        padding: 45px 0;
        .question__wrapper {
            width: 400px;

            .accordionBtn {
                font-size: 17px;
            }
        }
    }
}

@media screen and(max-width:375px) {
    .question {
        .question__wrapper {
            width: 310px;

            .accordionBtn {
                text-align: center;
            }
        }
    }
}